<Alloy>
	<Window id="settings" class="container">
		<ScrollView id="background">
			<View id="test">
				<View class="settingsLine">
					<View class="settingsLineLeft">
		        		<Label class="settingsFont">Lydstyrke</Label>
		        	</View>
		        	<View class="settingsLineRight">
		        		<Slider id="slider" min="0" max="100" value="100"/>
		        	</View>
		        </View>

		        <View class="settingsLine">
		        	<View class="settingsLineLeft">
		        		<Label class="settingsFont">Push notificationer</Label>
		        	</View>
		        	<View class="settingsLineRight">
		        		<Switch id="basicSwitch" value="true"/>
		        	</View>
				</View>
				<View class="settingsLine">
		        	<View class="settingsLineLeft">
		        		<Label class="settingsFont">Vilkar og betingelser</Label>
		        	</View>
		        	<View class="settingsLineRight">
		        		<ImageView class="settingsExpandArrow" image="images/arrowgrey.png"></ImageView>
		        	</View>
				</View>
			</View>
		</ScrollView>

        <View id="navBottomWrapper">
            <View id="navBottom" layout="horizontal">

                <View class="navBtn" id="discoverNav" onClick="myapp.openDiscover">
                    <ImageView image="images/globe.png" class="navImage"></ImageView>
                    <Label text="Opdag" class="navLabel"></Label>
                </View>

                <View class="navBtn" id="tasksNav" onClick="myapp.openTasks">
                    <ImageView image="images/check.png" class="navImage"></ImageView>
                    <Label text="Tilmeldte Opgaver" class="navLabel"></Label>
                </View>

                <View class="navBtn" id="profileNav" onClick="myapp.openProfile">
                    <ImageView image="images/user.png" class="navImage"></ImageView>
                    <Label text="Profil" class="navLabel"></Label>
                </View>

                <View class="activeNavBtn" id="settingsNav">
                    <ImageView image="images/cog_white.png" class="navImage"></ImageView>
                    <Label text="Indstillinger" class="activeNavLabel"></Label>
                </View>

           </View>
       </View>
	</Window>
</Alloy>
